<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Редирект для /remont_* и /ru/remont_*
    RewriteCond %{REQUEST_URI} ^/(ru/)?remont_(.+)$
    RewriteRule ^(ru/)?remont_(.+)$ /post/remont_%2 [R=301,L]

    # Редирект для /repair_robot_* и /ru/repair_robot_*
    RewriteCond %{REQUEST_URI} ^/(ru/)?repair_robot_(.+)$
    RewriteRule ^(ru/)?repair_robot_(.+)$ /post/repair_robot_%2 [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [L]

</IfModule>
