
@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .mobile-nav{
        display: none!important;
    }

    .top-menu{
        display: block!important;
    }
    .header .menu .container .navbar{
        margin-left: 100px!important;

    }

    .search_block{
        display: block!important;
    }
    .header .search{
        padding-left: 30px!important;
    }
    .search_block-mobile{
        display: none!important;
    }
    .header .time-work_text{
        display: block!important;
    }
    .phone-block{
        display: block!important;
        margin-top: 55px!important;
    }
    .phone-block_mobile{
        display: none!important;
    }

    .login .dropdown-login{
        right: -130px!important;
    }
    .good-card .photo{
        height: 250px!important;
    }
    .hidden-mobile{
        display: table-cell!important;
    }

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
    .good-card .photo{
        height: 310px!important;
    }

}


@media (min-width: 1400px) {

}
